<p>
  <strong>User: </strong>
  <%= answer.answerer %>
</p>

<p>
  <strong>Answer: </strong>
  <%= answer.content %>
</p>

<p>
  <%= link_to 'Destroy Answer', [answer.question, answer],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
